#shop-system-page{
    margin-bottom: 50px;
    .custom-row-shop{
        height: 500px;
        .col-left{
            border: 1px solid ;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            padding: 40px 20px;
            h3{
                font-size: 24px;
                font-weight: 700;
            }
            h4{
                font-size: 18px;
            }
        }
    }
}
// longtitude latitude