#footer{
  width: 100%;
  height: fit-content;
  background: #000000;
  padding: 80px 0px;
  .footer-block{
    ul{
      padding-left: 0px;
      display: block;
    }
  }
  .form_register{
    .input-group{
      background: #fff;
      border-radius: 20px;
      padding: 0px 4px;
      .form-control{
        border-radius: 10px;
      }
      .btn-action{
        button{
          max-height: 90%;
          background: #000000;
          color: #fff;
          border-radius: 34px;
          height: 90%;
          width: 90px;
        }
      }
    }
  }
}