
@media only screen and (min-width: 600px){
  .navigation-horizontal{
    max-width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 0;
    .navbar-navb{
      height: 100%;
      max-width: 90%;
      width: calc(85vw);
      white-space: nowrap;
      display: inline-block;
      position: relative;
      .navb-item{
        box-sizing: border-box;
        height: 44px;
        position: relative;
        z-index: 1;
        display: inline;
      }
      .navb-item:hover .dropdown{
        visibility: visible;
      }

      .navb-item:hover .dropdown2 {
        visibility: visible; /* Hiển thị khi hover vào .navb-item */
      }

      .dropdown{
        width: 300px;
        padding: 0px;
        left: 10px;
        position: absolute; 
        top: 35px;
        background-color: white;
        visibility: hidden;
        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
        .dropdown-item{
          padding: 10px;    
          font-weight: 500;
          text-decoration: none;
          a{
            color: black !important;
            :hover{
              cursor: pointer;
              color: var(--color-hover) !important;
            }
          }

        }
        .dropdown-item:hover{
          cursor: auto;          
        }

      }
  
      .navb-link{
        height: 24px !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        padding:  20px 15px;
        color: white;   
        text-decoration: none; 
        position: relative;
        img{
          width: 15px;
        } 
      }

      .navb-link::before {
        content: ''; 
        position: absolute; 
        bottom: 7px; 
        left: 0; 
        width: 0; 
        height: 1px; 
        background-color: #000; 
        transition: width 0.3s; 
      }

      .navb-link:hover::before{
        width: 100%;
      }
      .dropdown2{
        
        width: 95vw;
        position: absolute;
        top: 35px;
        background: #ffffff;
        left: -350px;
        height: fit-content;
        display: grid;
        visibility: hidden;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        padding-bottom: 50px;
        ul{
          padding-left: 0px !important;
          li{
            opacity: 0.7;
            padding-top: 10px;
            color: hsl(0, 0%, 0%);
            :hover{
              cursor: pointer;
              color: var(--color-hover);
            }
          }
        }
        .grid-item{
          padding: 20px; 
          text-align: left;
          a{
            color: #000;
            font-family: 'Mulish', sans-serif;
            font-size: 1em;
            span{
              font-weight: bolder;
            }
            
            :hover {
              cursor: pointer;
              color: var(--color-hover);
            }
          }
        }
        :hover{
          cursor: auto;
        }
      }
    }
    .navigation-arrows{
      position: absolute;
      right: 20%;
      font-size: 12px;
      max-width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 10%;
      padding: 0 15px 22px 30px;
      :hover{
        cursor: pointer;
      }
      .disable-button{
        opacity: 0.5;
        :hover{
          cursor: not-allowed;
        }
      }
    }
  }
  .navbar-navb-mobile, .navbar-navb-mobile-btn{
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  #ftc-nav{
    position: relative;
  }
  
  .navigation-arrows, .account-action {
    display: none;
  }
  .navbar-title{
    width: auto !important;
  }
  svg{
    width: inherit;
  }
  .navigation-horizontal{
    display: none;
  }
  .icon-heart, .icon-cart{
    position: relative;
    span{
      position: absolute;
      top: -1vh;
      right: -2vw;
      width: 5vw;
      height: 5vw;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
    }
  }
  .icon-cart{
    svg{
      width: 100%;
      color: #000;
    }
  }
  .cart-item{
    ul{
      li{
        p{
          display: none;
        }
      }
    }
  }
  .icon-user {
    display: none;
  }
}

