#policies{
  .text{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
  }
  width: 85%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  .policies-item{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;  
    .policies-info{
      .policies-title{
        font-weight: bolder;
      }
      .policies-desc{
        opacity: 0.8;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #counting {
    min-height: 101vh;
    background-size: auto 102vh;
    background-attachment: scroll;
  }
}
