#collection-list{
    .image-top{
        margin-bottom: 20px;
    }
    .image-top:hover{
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
    }
    .body-collection{
        height: fit-content;
        margin: 30px 0px;
        .tittle-text{
            font-weight: 400;
            font-size: 1.5em !important;
        }
        .col-left{
            border: 1px solid ;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            padding: 40px 20px;
            div{
                h3{
                    label{
                        font-size: 14px !important;
                    }
                }
                ul{
                    padding-left: 0px ;
                    display: inline-flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        display: flex;
                        align-items: center;
                        input{
                            width: 40px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .flash-body{
        .tab_first{
            width: 100%;
            min-height: 1330px;
            height: fit-content;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            .flashsale-bottom {
                display: none;
            }
            .product-promotion{
                display: none;
            }
        }
    }
    .container-span{
        max-width: 80%;
        overflow: hidden;
    }
    .nowrap{
        white-space: nowrap;
    }
    .deco-span{
        white-space: nowrap;
        width: fit-content;
        font-size: 12px;
        padding: 2px 16px;
        margin-right: 5px;
    }
    .seen{
        h3{
            font-size: 32px;
            font-weight: 700;
        }
        height: fit-content;
        .flash-body{
            .tab_first{
                width: 100%;
                min-height: 100px;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
            }
        }
    }
    #shop-system-page {
        margin-bottom: 0px;
    }   
}

